packages/
MyFirstPluginCollection/bin
MyFirstPluginCollection/obj
/.vs/MyFirstPluginCollection/v16
/TestCWA/bin/Debug
/TestCWA/obj/Debug
/CSVDataUploader/bin/Debug
/CSVDataUploader/obj/Debug
/CSVDataUploaderAdvanced/bin/Debug
/CSVDataUploaderAdvanced/obj/Debug
