packages/
MyFirstPluginCollection/bin
MyFirstPluginCollection/obj
/.vs/MyFirstPluginCollection/v16
/TestCWA/bin/Debug
/TestCWA/obj/Debug
/CSVDataUploader/bin/Debug
/CSVDataUploader/obj/Debug
/CSVDataUploaderAdvanced/bin/Debug
/CSVDataUploaderAdvanced/obj/Debug
/CSVDataUploaderUsingTinyCSVParser/.vs/CSVDataUploaderUsingTinyCSVParser/v16
/CSVDataUploaderUsingTinyCSVParser/bin/Debug
/CSVDataUploaderUsingTinyCSVParser/obj/Debug
/SimpleCSVWriterWithReflection/bin/Debug
/SimpleCSVWriterWithReflection/obj/Debug
/SimpleCSVWriterWithReflectionSpecialCharacters/obj/Debug
/SimpleCSVWriterWithReflectionSpecialCharactersNAParams/bin/Debug
/SimpleCSVWriterWithReflectionSpecialCharactersNAParams/obj/Debug
/SimpleCSVWriterWithReflectionSpecialCharactersNAParamsLinked/bin/Debug
/SimpleCSVWriterWithReflectionSpecialCharactersNAParamsLinked/obj/Debug
/SimpleCSVWriterWithReflectionSpecialCharacters/bin/Debug
/ReplyCSV/obj/Debug
/SimpleCSVWriterWithReflectionGeneric/obj/Debug
/SimpleCSVWriterWithReflectionGeneric/bin/Debug
/ReplyCSV/bin/Debug
/ReplyUploaderExample/bin/Debug
/ReplyUploaderExample/obj/Debug
/TestOpenXml/obj
/TestOpenXml/bin
/OpenXML/bin
/OpenXML/obj
