<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  
  <connectionStrings>
    <add name="url" connectionString="https://crm973945.api.crm4.dynamics.com/XRMServices/2011/Organization.svc" />
    <add name="user" connectionString="admin@CRM973945.onmicrosoft.com" />
    <add name="password" connectionString="XN2u4g282B" />
    <add name="ExcelCSVPath" connectionString="C:\Users\Ulixe\Documents\Tasks\18)ExcelCSV\MyFile.csv" />
  </connectionStrings>
  
</configuration>